<html>
  <head>
    <title>{{ request-uri }} @{{ server-name }}</title>
  </head>
  <body>
    Dirlisting: {{request-uri}}</br>
    <ul>
      {% for entry in entries %}
      <li><a href="{{entry.url}}">{{entry.name|safe|escape}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
